.chess-replayer {
    padding: 10px;
    border: none;
    outline: none;
    line-height: 1;
}

.chess-replayer:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.chess-replayer-board {
    table-layout: fixed;
    border: none;
    border-collapse: collapse;
    border-spacing: 2px;
    padding: 0px;
    z-index: 2;
}

.chess-replayer .title {
    position: relative;
    text-align: center;
    background-color: rgba(0,0,0,0.1);
    padding: 4px;
    font-weight: bold;
    font-size: large;
}

.chess-replayer .arrow {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAeCAYAAADZ7LXbAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAAAKRJREFUeNrs1TEKwkAQheEvIoI2nsk7qFdIq1hoJ3gCC5sUVpY23sDKXnvrYOUBbGITG0kQjQriPlgYhmF/3ryFjbIs82nVfEEBEiAB8k+Q+q1IkqSDNVq4lMy3scIkjuP0FSdbjNHMLys6OwyQVlnXEsOS2QP6OL8jkzlmd70jus86eBT8FIu8PqGXg6oFX6ARGthgX+V1ReFnDJAACZAfhFwHAJI7HF2lZGQaAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    opacity: 0.8;
    width: 16px;
    height: 29px;
    text-align: right;
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
}

.chess-replayer .arrow:hover {
    background-color: #cccccc;
}

.chess-replayer .board {
    position: relative;
    float: left;
    padding-right: 10px;
}

.chess-replayer .notes {
    float: left;
    height: 70px;
    overflow-y: auto;
    width: 100%;
}

.chess-replayer .moves {
    width: 100%;
    height: 360px;
    overflow-y: auto;
    padding-top: 1px;
}

.chess-replayer-board td {
    text-align: center;
    padding: 0px;
    margin: 0px;
    border: none;
    z-index: 2;
}

.chess-replayer .modal {
    text-align: left;
    font-weight: normal;
    background-color: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0 0 20px 0 #222;
    -webkit-box-shadow: 0 0 20px 0 #222;
    -moz-box-shadow: 0 0 20px 0 #222;
    display: block;
    overflow:visible;
    padding: 10px;
    position: absolute;
    width: 120px;
    z-index: 1000;
}

.chess-replayer .modal ul {
    border: 1px solid black;
    padding: 5px;
    list-style: none;
    margin: 0;
}

.chess-replayer .modal ul li {
    padding: 2px;
    cursor: pointer;
    list-style: none;
}

.chess-replayer .modal ul li:hover {
    background-color: #99ccff;
}

.chess-replayer .modal ul li.selected {
    background-color: #0066ff;
    color: white;
}

.chess-replayer .board .media-annotation {
    z-index: 3;
    position: absolute;
    opacity: 0.75;
}

.chess-replayer .board canvas {
    z-index: 50;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 11;
    opacity: 0.85;
}

.chess-replayer .copy-paste textarea {
    width: 100%;
    height: 200px;
}

.chess-replayer .board .chess-piece {
    z-index: 10;
}

.chess-replayer .board .wb-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -270px;
    background-repeat: no-repeat;
}

.chess-replayer .board .wk-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -315px;
    background-repeat: no-repeat;
}

.chess-replayer .board .wn-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -360px;
    background-repeat: no-repeat;
}

.chess-replayer .board .wp-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -405px;
    background-repeat: no-repeat;
}

.chess-replayer .board .wq-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -450px;
    background-repeat: no-repeat;
}

.chess-replayer .board .wr-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -495px;
    background-repeat: no-repeat;
}

.chess-replayer .board .bb-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 0;
    background-repeat: no-repeat;
}

.chess-replayer .board .bk-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -45px;
    background-repeat: no-repeat;
}

.chess-replayer .board .bn-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -90px;
    background-repeat: no-repeat;
}

.chess-replayer .board .bp-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -135px;
    background-repeat: no-repeat;
}

.chess-replayer .board .bq-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -180px;
    background-repeat: no-repeat;
}

.chess-replayer .board .br-small {
    background: transparent url(../images/chess-replayer/small.png);
    background-position: 0 -225px;
    background-repeat: no-repeat;
}

.chess-replayer .board .wp-medium {
    background: transparent url(../images/chess-replayer/wp.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wr-medium {
    background: transparent url(../images/chess-replayer/wr.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wn-medium {
    background: transparent url(../images/chess-replayer/wn.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wb-medium {
    background: transparent url(../images/chess-replayer/wb.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wq-medium {
    background: transparent url(../images/chess-replayer/wq.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wk-medium {
    background: transparent url(../images/chess-replayer/wk.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bp-medium {
    background: transparent url(../images/chess-replayer/bp.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .br-medium {
    background: transparent url(../images/chess-replayer/br.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bn-medium {
    background: transparent url(../images/chess-replayer/bn.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bb-medium {
    background: transparent url(../images/chess-replayer/bb.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bq-medium {
    background: transparent url(../images/chess-replayer/bq.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bk-medium {
    background: transparent url(../images/chess-replayer/bk.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wp-large {
    background: transparent url(../images/chess-replayer/wp.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wr-large {
    background: transparent url(../images/chess-replayer/wr.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wn-large {
    background: transparent url(../images/chess-replayer/wn.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wb-large {
    background: transparent url(../images/chess-replayer/wb.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wq-large {
    background: transparent url(../images/chess-replayer/wq.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .wk-large {
    background: transparent url(../images/chess-replayer/wk.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bp-large {
    background: transparent url(../images/chess-replayer/bp.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .br-large {
    background: transparent url(../images/chess-replayer/br.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bn-large {
    background: transparent url(../images/chess-replayer/bn.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bb-large {
    background: transparent url(../images/chess-replayer/bb.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bq-large {
    background: transparent url(../images/chess-replayer/bq.gif);
    background-repeat: no-repeat;
}

.chess-replayer .board .bk-large {
    background: transparent url(../images/chess-replayer/bk.gif);
    background-repeat: no-repeat;
}

.chess-replayer .moves .move {
    cursor: pointer;
    padding: 1px;
    white-space: nowrap;
}

.chess-replayer .moves .move0 {
    font-weight: bold;
}

.chess-replayer .moves .move2 {
    font-style: italic;
}

.chess-replayer .moves .active {
    background: #ffff00;
    border: 1px solid #000000;
    padding: 0px;
}

.chess-replayer .controls {
    clear: left;
    padding-top: 15px;
    padding-bottom: 15px;
}

.chess-replayer .controls a.button, .chess-replayer .controls a.button:visited {
    font-size: 12px;
    color: #777;
    line-height: 1.1;
    margin-right: 5px;
    padding: 6px 9px;
    background: linear-gradient(top, #ffffff, #e7e7e7);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e7e7e7));
    background: -moz-linear-gradient(top, #ffffff, #e7e7e7);
    background: linear-gradient(top, #ffffff, #e7e7e7);
    border: 1px solid #d2d2d2;
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    text-shadow: 0 1px 0 #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
}

.chess-replayer .controls a.button:hover, .chess-replayer .controls a.button:hover {
    color: #444;
    background: #e7e7e7;
}

.chess-replayer .controls a.button:active {
    background-color: #e0e0e0;
    -moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #fff;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,0.3) inset, 0 1px 0 #fff;
    color: #444!important;
    text-shadow: none;
    border: none;
    padding: 7px 10px;
}
